[Unit]
Description=PyVAST-Threat Bus - Connect VAST with Threat Bus
Wants=network-online.target
After=network-online.target

[Service]
Type=simple

DynamicUser=yes
LogsDirectory=pyvast-threatbus

# capabilities
RestrictNamespaces=yes
RestrictAddressFamilies=
CapabilityBoundingSet=
AmbientCapabilities=
RestrictSUIDSGID=yes

# system access
ProtectSystem=strict
ReadWritePaths=/var/log/pyvast-threatbus
PrivateTmp=yes
ProtectHome=yes
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes

# service specifics
TimeoutStopSec=600
ExecStart=/opt/tenzir/threatbus/pyvast-threatbus -c /opt/tenzir/threatbus/pyvast-threatbus.yaml

[Install]
WantedBy=multi-user.target
